@import "tailwindcss";

@plugin "daisyui/theme" {
    name: "shadlight";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-base-100: theme("colors.neutral.50");
    --color-base-200: theme("colors.neutral.100");
    --color-base-300: theme("colors.neutral.200");
    --color-base-content: theme("colors.neutral.800");
    --color-primary: theme("colors.black");
    --color-primary-content: theme("colors.white");
    --color-secondary: theme("colors.pink.500");
    --color-secondary-content: theme("colors.white");
    --color-accent: theme("colors.green.500");
    --color-accent-content: theme("colors.white");
    --color-neutral: theme("colors.neutral.400");
    --color-neutral-content: theme("colors.white");
    --color-info: theme("colors.sky.500");
    --color-info-content: theme("colors.white");
    --color-success: theme("colors.emerald.500");
    --color-success-content: theme("colors.white");
    --color-warning: theme("colors.amber.500");
    --color-warning-content: theme("colors.neutral.800");
    --color-error: theme("colors.red.500");
    --color-error-content: theme("colors.white");

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "shaddark";
    default: false; /* not set as default */
    prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: dark; /* color of browser-provided UI */

    --color-base-100: theme("colors.neutral.900");
    --color-base-200: theme("colors.neutral.800");
    --color-base-300: theme("colors.neutral.700");
    --color-base-content: theme("colors.neutral.100");
    --color-primary: theme("colors.white");
    --color-primary-content: theme("colors.black");
    --color-secondary: theme("colors.pink.500");
    --color-secondary-content: theme("colors.white");
    --color-accent: theme("colors.green.500");
    --color-accent-content: theme("colors.white");
    --color-neutral: theme("colors.neutral.600");
    --color-neutral-content: theme("colors.white");
    --color-info: theme("colors.sky.500");
    --color-info-content: theme("colors.white");
    --color-success: theme("colors.emerald.500");
    --color-success-content: theme("colors.white");
    --color-warning: theme("colors.amber.500");
    --color-warning-content: theme("colors.neutral.900");
    --color-error: theme("colors.red.500");
    --color-error-content: theme("colors.white");

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 0.5px;

    /* effects */
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui" {
    themes:
        shadlight --default,
        shaddark --prefersdark;
    ripple: false;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist-sans: "Geist";
    --font-geist-mono: "Geist Mono";
    /* --font-geist-sans: "geistSans", "geistSans Fallback"; */
    --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
    --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
        Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Removed system preference detection to allow manual theme control */
.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}

html,
body {
    font-family: var(--font-sans);
}

body {
    color: var(--foreground);
    background: var(--background);
}

input:not(.checkbox),
textarea:not(.checkbox) {
    @apply transition duration-300 ease-in-out focus:outline-none focus:ring-primary;
}
.input:focus,
input:focus,
textarea:focus,
.textarea:focus {
    outline: none !important;
}

.btn {
    font-weight: normal;
    box-shadow: none;
    translate: none;
    padding-inline: 0px;
    height: calc(var(--size) * 0.8);
    padding: calc(var(--btn-p) * 0.7) calc(var(--btn-p) * 1.4);
}
